# flyctl launch added from .gitignore

###> symfony/framework-bundle ###
.env.local
.env.local.php
.env.*.local
config/secrets/prod/prod.decrypt.private.php
public/bundles
var
vendor
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
phpunit.xml
.phpunit.cache
###< phpunit/phpunit ###

###> symfony/webpack-encore-bundle ###
node_modules
public/build
**/npm-debug.log
**/yarn-error.log
###< symfony/webpack-encore-bundle ###

# flyctl launch added from node_modules/tailwindcss/stubs/.gitignore
!node_modules/tailwindcss/stubs/**/*

# flyctl launch added from vendor/knpuniversity/oauth2-client-bundle/tools/.gitignore
vendor/knpuniversity/oauth2-client-bundle/tools/**/**/vendor
vendor/knpuniversity/oauth2-client-bundle/tools/**/**/composer.lock

# flyctl launch added from vendor/psr/container/.gitignore
vendor/psr/container/**/composer.lock
vendor/psr/container/**/composer.phar
vendor/psr/container/vendor

# flyctl launch added from vendor/psr/event-dispatcher/.gitignore
vendor/psr/event-dispatcher/vendor
vendor/psr/event-dispatcher/**/composer.lock
fly.toml
